{% extends 'base.html.twig' %}

{% block body %}


    <h1>Envoyer un message</h1>

    <form action="{{ path('app_messagerie_post') }}" method="post">

        <div class="form-group">
            <label for="">Nom et prénom</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="">Message</label>
            <textarea id="" cols="30" rows="10" class="form-control" name="content"></textarea>
        </div>

        <button class="btn btn-success float-right">Créer le message</button>


    </form>

{% endblock %}
