{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('articles_index') }}">< retour</a>
    <h1>{{ article.title }}</h1>
    <small>Créé le {{ article.createdAt | date('d/m/Y') }}</small>
    <hr>
    <p>
        {{ article.content }}
    </p>

{% endblock %}